@model SaveMyHome.ViewModels.AnswerViewModel
@using Resources 
@{
    ViewBag.Title = AnswerLayout.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-warning">
    <div class="panel panel-heading">@{Html.RenderAction("HeadMessage");}</div>
    <div class="panel panel-body">
        <div class="form-group">@{Html.RenderAction("FloorSchema"); }</div>
    </div>
    @{Html.RenderAction("AnswerMessages");}
</div>

<div class="panel panel-primary">
    @using (Html.BeginForm("Answer", "Flood"))
     {
        @Html.AntiForgeryToken()
        <div class="panel panel-heading"><b>@AnswerLayout.Answer:</b></div>
        <div class="panel panel-body">
            <div class="form-group">
                <div class="radio">@RenderBody()</div>
            </div>
            <div id="message" class="form-group">
                <div>@Html.LabelFor(m => m.CurrAnswer)</div>
                <div>@Html.TextArea("CurrAnswer", null, 3, 50, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(m => m.CurrAnswer)</div>
            </div>
        </div>
        <div class="panel panel-footer">
            <input type="submit" value="@AnswerLayout.Answer" class="btn btn-danger"/>
        </div>
     }
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
