@model SaveMyHome.ViewModels.AnswerViewModel
@{
    ViewBag.Title = Resources.ReactionResult.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<div class="panel panel-warning">
    <div class="panel panel-heading">
        @Html.Action("HeadMessage")
    </div>
    <div class="panel panel-body">
        <div class="form-group">
            @Html.Action("FloorSchema")
        </div>
    </div>
    @Html.Action("AnswerMessages")
</div>

    @Html.ActionLink(Resources.ReactionResult.LeavePageButton, "Index", "Home", null, new { @class = "btn btn-success" })
