@model SaveMyHome.ViewModels.EditAccountViewModel
@using Resources

@{
    ViewBag.Title = Account.EditTitle;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ImageData)
    @Html.HiddenFor(model => model.ImageMimeType)

    <div class="form-horizontal">
        @Html.Partial("_RegisterEditPartial", Model)
        
        <button type="submit" class="btn btn-primary">@Account.SaveButton</button>
        @Html.ActionLink(Account.CancelLink, "Index", "Home", null, new { @class = "btn btn-default" })
    </div>
}
