@model SaveMyHome.ViewModels.RegisterViewModel
@using Resources

@{
    ViewBag.Title = Account.Register;
}
 <h4>@Account.CreateAccount</h4><hr/>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @{Html.RenderPartial("_RegisterEditPartial", Model);}

        <button type="submit" class="btn btn-primary">@Account.SaveButton</button>
        @Html.ActionLink(Account.CancelLink, "Index", "Home", null, new { @class = "btn btn-default" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
