@using SaveMyHome.Models
@model SaveMyHome.ViewModels.AnswerViewModel

@{
    ViewBag.Title = Resources.PotentialVictimAnswer.Title;
    Layout = "~/Views/Shared/_AnswerLayout.cshtml";
}

@Html.RadioButton("VisitorProblemStatus", @ProblemStatus.None, true, new { id = "PotentialVictim" })
<span>@Resources.PotentialVictimAnswer.IWasNotFlooded</span><br />
@Html.RadioButton("VisitorProblemStatus", @ProblemStatus.Victim)
<span>@Resources.PotentialVictimAnswer.IWasFlooded</span>

@Html.HiddenFor(a => a.IsFromPotentialCulprit)

@section scripts{
    @Scripts.Render("~/bundles/RadioButton")
}