@using SaveMyHome.Models
@model SaveMyHome.ViewModels.AnswerViewModel

@{
    ViewBag.Title = Resources.PotentialCulpritAnswer.Title;
    Layout = "~/Views/Shared/_AnswerLayout.cshtml";
}
@Html.RadioButton("VisitorProblemStatus", @ProblemStatus.None, true, new { id = "PotentialCulprit" })
<span>@Resources.PotentialCulpritAnswer.Ididnot</span><br />
@Html.RadioButton("VisitorProblemStatus", @ProblemStatus.Culprit)
<span>@Resources.PotentialCulpritAnswer.Idid</span>

@Html.HiddenFor(a => a.IsFromPotentialCulprit)
@section scripts{
  @Scripts.Render("~/bundles/RadioButton")
}
