@using SaveMyHome.Models
@model SaveMyHome.ViewModels.AnswerViewModel
@using Resources
@{
    ViewBag.Title = PotentialVictimAnswer.Title;
    Layout = "~/Views/Shared/_AnswerLayout.cshtml";
}

@Html.RadioButton("VisitorProblemStatus", @ProblemStatus.None, true, new { id = "PotentialVictim" })
<span>@PotentialVictimAnswer.IWasNotFlooded</span><br />
@Html.RadioButton("VisitorProblemStatus", @ProblemStatus.Victim)
<span>@PotentialVictimAnswer.IWasFlooded</span>

@Html.HiddenFor(a => a.IsFromPotentialCulprit)

@section scripts{
    <script src="/Resource/Script"></script>
    @Scripts.Render("~/bundles/RadioButton")
}