@using SaveMyHome.Models
@model SaveMyHome.ViewModels.AnswerViewModel
@using Resources
@{
    ViewBag.Title = PotentialCulpritAnswer.Title;
    Layout = "~/Views/Shared/_AnswerLayout.cshtml";
}
@Html.RadioButton("VisitorProblemStatus", @ProblemStatus.None, true, new { id = "PotentialCulprit" })
<span>@PotentialCulpritAnswer.Ididnot</span><br />
@Html.RadioButton("VisitorProblemStatus", @ProblemStatus.Culprit)
<span>@PotentialCulpritAnswer.Idid</span>

@Html.HiddenFor(a => a.IsFromPotentialCulprit)
@section scripts{
  <script src="/Resource/Script"></script>
  @Scripts.Render("~/bundles/RadioButton")
}
